@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');



.container {
    font-family: 'Varela Round', sans-serif;
    max-width: 960px;
    margin: 0 auto;
}
h1 {
   
    padding-top: 40px;
}

li {
  display: flex;
}
nav{
  
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
   list-style-type: none;
   height: 65px;
   background-color: black;
   color: white;
}
img{
    width: 50%;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 67px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem; 

}

.list{
    justify-content: center;
    text-align: center;
    margin: 2px 3px;
    padding: 2px 3px;
    margin: 10px 0px;
    padding: 1px 36px;
    display: inline-grid;
}

.container2{
    font-family: 'Varela Round', sans-serif;
    max-width: 100%;
    border-radius: 12px;
    margin: 0 auto;
    background-color:#eee;
    color: black
    /* background-image: url("./dark.jpg"); */
}

/* footer */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

.center{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    margin-top: 91px;
    min-height: 47px;

}